#nav_vert {
    border: 2px solid black;
    width: 340px;
    height: 377px;
    padding: 10px;
}

#nav_vert li {
    display: block;
    padding: 20px;
    font-size: 30px;
    background-color: skyblue;
    width: 300px;
}

li a {
    text-decoration: none;
}

ul {
    margin-left: 20px;
}

h3{
    padding-left: 20px;
}